In [20]:
import pandas as pd

In [21]:
raw_data = pd.read_csv("../data/raw/planosaude.csv", sep=",")
raw_data.rename(
    columns={
        "despmed": "medexpense",
        "idade": "age",
        "dcron": "dcron",
        "renda": "income",
        "plano": "plan",
    },
    inplace=True,
)
raw_data.head()

   id  medexpense  age  dcron     income    plan
0   1      206.84   57      5  57.200001  bronze
1   2      184.19   67      4  67.199997  bronze
2   3      175.68   62      4  62.000000  bronze
3   4      180.04   67      5  67.199997  bronze
4   5      218.86   68      5  68.000000  bronze

In [22]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          200 non-null    int64
 1   medexpense  200 non-null    float64
 2   age         200 non-null    int64
 3   dcron       200 non-null    int64
 4   income      200 non-null    float64
 5   plan        200 non-null    object
dtypes: float64(2), int64(3), object(1)
memory usage: 9.5+ KB

In [23]:
raw_data.describe()

               id  medexpense         age       dcron      income
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  161.183400   50.010000    2.705000   50.022000
std     57.879185   42.447084   12.547794    1.670908   12.626538
min      1.000000   88.730000   32.000000    0.000000   31.600000
25%     50.750000  126.140000   38.000000    1.000000   38.000000
50%    100.500000  155.000000   49.000000    2.000000   48.799999
75%    150.250000  197.622500   63.000000    4.000000   63.200001
max    200.000000  269.200000   68.000000    5.000000   68.000000

In [24]:
raw_data["plan"].unique()

array(['bronze', 'esmeralda', 'ouro'], dtype=object)

In [25]:
raw_data["plan"].value_counts()

plan
bronze       72
esmeralda    66
ouro         62
Name: count, dtype: int64

In [26]:
# Converting the plan type from object to category
raw_data["plan"] = raw_data["plan"].astype("category")
raw_data["plan"] = raw_data["plan"].map(
    {"bronze": "bronze", "ouro": "golden", "esmeralda": "emerald"}
)

In [27]:
raw_data["plan"].unique()

['bronze', 'emerald', 'golden']
Categories (3, object): ['bronze', 'emerald', 'golden']

In [28]:
# Creating the dummie variables of plan for perfoming in the regression models
raw_data_dummie = pd.get_dummies(raw_data, columns=["plan"], drop_first=True)

In [29]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          200 non-null    int64
 1   medexpense  200 non-null    float64
 2   age         200 non-null    int64
 3   dcron       200 non-null    int64
 4   income      200 non-null    float64
 5   plan        200 non-null    category
dtypes: category(1), float64(2), int64(3)
memory usage: 8.3 KB

In [30]:
raw_data_dummie["plan_emerald"] = raw_data_dummie["plan_emerald"].map(
    {True: 1, False: 0}
)
raw_data_dummie["plan_golden"] = raw_data_dummie["plan_golden"].map(
    {True: 1, False: 0}
)

In [31]:
raw_data_dummie

      id  medexpense  age  dcron     income  plan_emerald  plan_golden
0      1      206.84   57      5  57.200001             0            0
1      2      184.19   67      4  67.199997             0            0
2      3      175.68   62      4  62.000000             0            0
3      4      180.04   67      5  67.199997             0            0
4      5      218.86   68      5  68.000000             0            0
..   ...         ...  ...    ...        ...           ...          ...
195  196      159.02   63      3  63.200001             1            0
196  197      205.35   64      4  64.000000             0            0
197  198      133.64   49      4  48.799999             1            0
198  199      158.73   44      2  44.000000             1            0
199  200      156.47   50      2  50.400002             1            0

[200 rows x 7 columns]

In [32]:
raw_data_dummie.to_csv(
    "../data/processed/planosaude_processed.csv", sep=",", index=False
)